/* (General) Type Selectors */
body {
  font-family: "Helvetica", "Arial", sans-serif;
}

/* Step 12 */ {
  background-color: rgba(231,209,75,0.5); /* lt yellow */
}

/* STEP 7B */ {
  color: rgb(69,105,159); /* blue */
}

/* STEP 7A */ {
  line-height: 1.5;
}

ul > li {
  list-style-type: square;
}

abbr [title] {
  text-decoration-color: rgb(69,105,159); /* blue */
  text-decoration-style: wavy;
}

/* STEP 11B */ {
  font-style: italic;
  color: rgb(69,105,159); /* blue */
}


/* (Structural) Type Selectors */

/* STEP 6B */ {
  color: rgb(69,105,159); /* blue */
}

# {
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgba(231,209,75,0.15); /* lt yellow */
}

/* STEP 10B */ {
  font-style: italic;
}

footer a {
  color: #000;
}


/* id Selectors */
#introduction {
  background-color: rgba(69,105,159,0.15); /* lt blue */
  border: 1px dashed rgb(69,105,159); /* blue */
}

footer a {
  background-color: rgb(231,209,75); /* yellow */
}

#geography aside {
  border: 1px dashed rgb(69,105,159);
  padding-left: 16px;
}



/* class Selectors */

.first {
  font-weight: bold;
}

/* STEP 13 */ {
  font-size: 22px;
}

/* STEP 5B */ {
  font-weight: bold;
  color: rgb(69,105,159); /* blue */
}
